---
layout: default
---
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<p>
  Hi, I'm Billy. I'm doing my PhD in computer science and cognitive science with
  <a href="https://homes.luddy.indiana.edu/ztiganj/">Zoran Tiganj</a> at Indiana University working on large language
  models. Specifically, I'm interested in making llms more human-like
  &#x1F47B;.
</p>

<p>
  Previously, I did my master's in computational linguistics at Indiana University with
  <a href="https://damir.cavar.me/">Damir Cavar</a> in the <a href="https://nlp-lab.org/">NLP Lab</a> working on
  temporal and event reasoning, and before that I did my bachelor's at Michigan State University where I studied
  linguistics, Chinese, and Korean, and did a summer language program at Harbin Institute of Technology.
</p>
  <center><img src="assets/images/brrrr.jpg" alt="brrrr" width="250" height=auto class="center"></center>
</body>

<div class="home">
  
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  {%- endif -%}

</div>
</html>
